/* Stupid bootstrap fixes */
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.sign-in-form {
    float: right;
    margin: 0;
    padding: 5px 0 0 0;
}
.navbar .sign-in-form .submit {
    margin-top: 0;
}

/* Stretch the page, forcing the footer to the bottom */
html,
body,
.page-content {
    height: 100%;
}
body > .page-content {
    height: auto;
    min-height: 100%;
}
.page-content {
    padding-bottom: 3em;
}

.footer {
    background: @grayLighter;
    border-top: 1px solid @grayLight;
    clear: both;
    padding: .3em 0;
    position: relative;
    text-shadow: 1px 1px 0 @white;
    z-index: 9999;
}
.footer-fixed-bottom {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

.alarm-header {
    background: #0ff;
}

// Alignments
.align-left   { text-align: left;}
.align-right  { text-align: right;}
.align-center { text-align: center;}

// Date picker
@import "custom-datepick.less";

// Status Map
@import "custom-status.less";

// System Selector
@import "custom-systems.less";
