/* Stupid bootstrap fixes
-------------------------------------------------- */
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.page-content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -20px;
}

/* Set the fixed height of the footer here */
.footer {
    height: 20px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    .footer.footer-fixed-bottom {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        position: static;
    }
}




.sign-in-form {
    float: right;
    margin: 0;
    padding: 5px 0 0 0;
}

.validate .validationError {
    border: 1px solid lighten(@red, 20%);
}

.navbar .sign-in-form .submit {
    margin-top: 0;
}

// Zebra stripes
.over:hover {
    background: @cldSecondary
}


/* Stretch the page, forcing the footer to the bottom */
html,
body,
.page-content {
    height: 100%;
}
body > .page-content {
    height: auto;
    min-height: 100%;
}
.page-content {
    padding-bottom: 3em;
}

.building-name {
    color: darken(@linkColor, 15%);
}

.footer {
    background: @grayLighter;
    border-top: 1px solid @grayLight;
    clear: both;
    padding: .3em 0;
    position: relative;
    text-shadow: 1px 1px 0 @white;
    z-index: 9999;
}
.footer-fixed-bottom {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

.alarm-header {
    background: #0ff;
}

// Alignments
.align-left   { text-align: left;}
.align-right  { text-align: right;}
.align-center { text-align: center;}

// Date picker
@import "custom-datepick.less";

// Status Map
@import "custom-status.less";

// System Selector
@import "custom-systems.less";
