//
// Status Page
// --------------------------------------------------
.status-container {
    border: 3px solid DarkGreen;
    height: 800px; // <- whatever height the child images are
    position: relative;
border: 1px solid Green;
}
.status-Back {
    left: 0px;
    width: 500px;
    height: 450px;
    position: absolute;
    top: 0px;
    z-index: 1;
border: 1px solid Green;
}
.status-OpenLoop {
    left: 375px;
    position: absolute;
    top: 420px;
    width: 300px;
    height: 350px;
    z-index: 3;
    border: 1px solid Green;

 
}
.status-OpenLoopDryWell {
    left: 500px;
    position: absolute;
    top: 300px;
    width: 400px;
    height: 250px;
    z-index: 2;
border: 1px solid Green;
}
.status-ClosedLoop {
    left: 433px;
    position: absolute;
    top: 300px;
    width: 400px;
    height: 250px;
    z-index: 2;
border: 1px solid Green;
}
