//
// Status Page
// --------------------------------------------------
.status-container {
    border: 3px solid DarkGreen;
    height: 800px; // <- whatever height the child images are
    position: relative;
border: 1px solid Green;
}
.status-Back {
    left: 0px;
    width: 500px;
    height: 400px;
    position: absolute;
    top: 0px;
    z-index: 1;
//border: 1px solid Green;
}
.status-OpenLoop {
    left: 500px;
    position: absolute;
    top: 395px;
    width: 450px;
    height: 450px;
    z-index: 2;
  //  border: 1px solid Green;


}
.status-OpenLoopDryWell {
    left: 500px;
    position: absolute;
    top: 425px;
    width: 450px;
    height: 450px;
    z-index: 2;
// border: 1px solid Green;
}
.status-ClosedLoop {
    left: 500px;
    position: absolute;
    top: 450px;
    width: 450px;
    height: 450px;
    z-index: 2;
 //border: 1px solid Green;
}


// Data Labels & Status
// --------------------------------------------------
.label-status {

    line-height: 1.2em;
    padding: 2px 8px;
    position: absolute;
    left: 700px;
    top: 200px;
    z-index: 100;
}


.value-status {
    background-color: red;
    border: 2px solid blue;
    border-radius: 30px;
    line-height: 1.2em;
    padding: 5px 12px;
    position: absolute;
    left: 700px;
    top: 220px;

    z-index: 100;
}

// Individual Value Positions
.label-kw-energy {
    position: absolute;
    left: 700px;
    top: 200px;
    z-index: 100;

}

.label-kw-energy {
    position: absolute;
    left: 700px;
    top: 200px;
    z-index: 100;

}


.label-Date_time {
    position: absolute;
    left: 600px;
    top: 150px;
    z-index: 100;

}
.label-Outside_air {
    position: absolute;
    left: 600px;
    top: 200px;
    z-index: 100;

}
.label-Air_out {
    position: absolute;
    left: 200px;
    top: 200px;
    z-index: 100;

}

.label-Air_in {
    position: absolute;
    left: 400px;
    top: 300px;
    z-index: 100;

}

.label-Water_in {
    position: absolute;
    left: 400px;
    top: 400px;
    z-index: 100;

}
.label-Water_Out {
    position: absolute;
    left: 400px;
    top: 500px;
    z-index: 100;

}
.label-Pressure {
    position: absolute;
    left: 450px;
    top: 600px;
    z-index: 100;

}
.label-Flow {
    position: absolute;
    left: 550px;
    top: 600px;
    z-index: 100;

}
